
<div *ngIf="!job" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <mat-icon class="s-120 mb-12 select-job-icon" *fuseIfOnDom
              [@animate]="{value:'*',params:{delay:'300ms',scale:'0.2'}}">check_box
    </mat-icon>
    <span class="hint-text mat-h1 select-job-text" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'400ms'}}">Select
        a job
    </span>
</div>

<div *ngIf="job">

    <div class="job-header" fxLayout="row" fxLayoutAlign="space-between center">

        <!== MARK as "Not available" ==>                        
        <button mat-button class="toggle-complete-button p-0" (click)="toggleCompleted($event)"
                aria-label="Toggle completed" fxFlex="0 1 auto">
            <mat-icon *ngIf="job.completed">check_box</mat-icon>
            <mat-icon *ngIf="!job.completed">check_box_outline_blank</mat-icon>
            <span>Mark as "Not Available"</span>
        </button>

        <!== ACTIONS ==>                    
        <div class="actions" fxLayout="row" fxLayoutAlign="start center">

            <button mat-button class="mat-icon-button" (click)="toggleDeleted($event)" aria-label="Toggle delete">
                <mat-icon *ngIf="job.deleted">delete_forever</mat-icon>
                <mat-icon *ngIf="!job.deleted">delete</mat-icon>
            </button>

            <button mat-button class="mat-icon-button" (click)="toggleImportant($event)" aria-label="Toggle important">
                <mat-icon *ngIf="job.important">error</mat-icon>
                <mat-icon *ngIf="!job.important">error_outline</mat-icon>
            </button>

            <button mat-button class="mat-icon-button" (click)="toggleStar($event)" aria-label="Toggle star">
                <mat-icon *ngIf="job.starred">star</mat-icon>
                <mat-icon *ngIf="!job.starred">star_outline</mat-icon>
            </button>

            <button mat-icon-button [matMenuTriggerFor]="labelMenu" fxFlex="0 1 auto">
                <mat-icon>label</mat-icon>
            </button>

            <mat-menu #labelMenu="matMenu">
                <button mat-menu-item *ngFor="let tag of tags"
                        (click)="toggleTagOnJob(tag.id)">
                    {{tag.title}}
                </button>
            </mat-menu>

        </div>
    </div>

    <div class="job-content">

        <form [formGroup]="jobForm" (submit)="addJob()">
            <!== Job TITLE ==>                            
            <mat-form-field class="title mt-8" floatPlaceholder="never" fxFill>
                <textarea matInput
                        #titleInput
                        name="title"
                        formControlName="title"
                        placeholder="Title"
                        matTextareaAutosize
                        matAutosizeMinRows="1"
                        matAutosizeMaxRows="2"
                        required>
                </textarea>
            </mat-form-field>

            <!-- <!== TESTTTTTT ==>            
            <mat-form-field fxFill>
                <input matInput  placeholder="Test" aria-label="Location" formControlName="test">
            </mat-form-field> -->



            <!== TAGS ==>            
            <div class="tags mb-24" fxFlexFill fxLayout="row" fxLayoutWrap>
                <div class="tag" fxLayout="row" fxLayoutAlign="start center" *ngFor="let tagId of job.tags">

                    <div class="tag-color" [ngStyle]="{'background-color': tags | getById:tagId:'color'}"></div>

                    <div class="tag-label">{{tags | getById:tagId:'title'}}</div>
                </div>
            </div>

            <!== ROLE ==>
            <div class="tags mb-24" fxFlexFill fxLayout="row" fxLayoutWrap>
                <mat-form-field fxFlex>
                    <input placeholder="Role" type="text" matInput formControlName="role" [matAutocomplete]="autoRoles">
                </mat-form-field>
                
                <mat-autocomplete #autoRoles="matAutocomplete">
                    <mat-option *ngFor="let role of roles" [value]="role.name">
                    {{ role.name }}
                    </mat-option>
                </mat-autocomplete>
                <!== AREA ==>
                <mat-form-field fxFlex>
                    <input placeholder="Area" type="text" matInput formControlName="area" [matAutocomplete]="autoAreas">
                </mat-form-field>
                
                <mat-autocomplete #autoAreas="matAutocomplete">
                    <mat-option *ngFor="let area of areas" [value]="area.name">
                    {{ area.name }}
                    </mat-option>
                </mat-autocomplete>




            </div>
        
            <div class="tags mb-24" fxFlexFill fxLayout="row" fxLayoutWrap>
            </div>
        


            <!== ALLOCATION PERIOD ==>            
            <div class="dates" fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

                <mat-form-field class="mr-sm-24" fxFlex>
                    <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <input matInput [matDatepicker]="dueDatePicker" formControlName="dueDate" placeholder="End Date">
                    <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #dueDatePicker></mat-datepicker>
                </mat-form-field>

            </div>

            <!== ALLOCATION TYPE ==>
            
            <div class="dates" fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

                <mat-form-field fxFlex="30">
<!--                    <input type="text" matInput placeholder="Allocation type" [matAutocomplete]="auto" formControlName="allocationType"> -->
                    <mat-select placeholder="Allocation Type" formControlName="allocationType" [value]="selectedAllocationType" (change)="allocationTypeChanged($event)">
                        <mat-option *ngFor="let option of jobAllocationTypeOptions" [value]="option" >
                            {{ option }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div fxLayout="column" fxFlex="70">
                    <span class="mat-caption mat-primary-100-fg hint-text">Allocation Percentage (%)</span>
                    <mat-slider min="0" max="100" step="5" percent value="100" formControlName="allocationPerc" thumb-label="true" #perc [disabled]="disabledPercValue"></mat-slider>
                    <!-- <label fxLayoutAlign="end center" class="text-boxed percentage" ><b>{{ perc.percent }} %</b></label> -->
                </div>
            </div>
            <br>
            <br>
            
            <div class="skills" fxFlexFill fxLayout="row">
                <!== Required SKILLS ==>
                <!-- <mat-form-field fxFlex>
                        <mat-chip-list #chipList>
                        <mat-chip *ngFor="let skill of job.skills" [selectable]="selectable"
                                [removable]="removable" (remove)="remove(skill)">
                            {{skill}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Required skill..."
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="add($event)" />
                        </mat-chip-list>
                </mat-form-field>  -->
                <div fxLayout="column" fxFlex="70">
                    <span class="mat-caption mat-primary-100-fg hint-text">Required Skills</span>
                    <mat-select placeholder="Business Areas" formControlName="skills" multiple shouldLabelFloat="true">
                            <mat-option *ngFor="let skill of skillsList" [value]="skill">{{skill}}</mat-option>
                    </mat-select>    
                </div>                    
            </div>
            <br>
            <br>
            <!== LOCATION (MAP) ==>            
            <mat-form-field fxFlexFill>
                <input matInput  placeholder="Job location" aria-label="Location" #searchControl formControlName="searchControl">
            </mat-form-field>
            <br>

<!== 8dec17 ==>
            <!-- <agm-map [latitude]="job.latitude" [longitude]="job.longitude" [scrollwheel]="true" [zoom]="zoom">
            <agm-marker [latitude]="job.latitude" [longitude]="job.longitude"></agm-marker>
            </agm-map>
            <br> -->
            <br>
            <br>
            <!== JOB DESCRIPTION ==>
            <mat-form-field class="" fxFlexFill>
                <textarea matInput #description
                        name="description"
                        formControlName="description"
                        placeholder="Job description"
                        maxlength="500"
                        matTextareaAutosize
                        matAutosizeMinRows="4"
                        matAutosizeMaxRows="10">
                </textarea>
                <mat-hint align="end">{{description.value.length}} / 500</mat-hint>
            </mat-form-field>

            <button *ngIf="formType === 'new'"
                    mat-raised-button class="mat-accent"
                    [disabled]="jobForm.invalid">SAVE
            </button>
        </form>

    </div>
</div>
