<div class="page-layout simple left-sidenav inner-sidenav" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header md-accent-bg p-24" fxLayout="row" fxLayoutAlign="start center">

        <button md-button class="mat-icon-button sidenav-toggle"
                fuseMdSidenavToggler="simple-left-sidenav-3"
                fxHide.gt-md>
            <md-icon>menu</md-icon>
        </button>

        <div>
            <h2>Left inner sidenav with content scroll</h2>
        </div>

    </div>
    <!-- / HEADER -->

    <md-sidenav-container>

        <!-- SIDENAV -->
        <md-sidenav class="sidenav mat-sidenav-opened" align="start" opened="true" mode="side"
                    fuseMdSidenavHelper="simple-left-sidenav-3" md-is-locked-open="gt-md">

            <div class="sidenav-content" fusePerfectScrollbar>

                <fuse-demo-sidenav></fuse-demo-sidenav>

            </div>

        </md-sidenav>
        <!-- / SIDENAV -->

        <!-- CENTER -->
        <div class="center p-24" fusePerfectScrollbar>

            <!-- CONTENT -->
            <div class="content p-24 mat-elevation-z4 md-white-bg">

                <fuse-demo-content></fuse-demo-content>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

    </md-sidenav-container>

</div>
