<div class="table-tab">

    <mat-table #table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- ID Column -->
        <ng-container cdkColumnDef="name">
            <mat-header-cell *cdkHeaderCellDef>Name</mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.name}}</mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container cdkColumnDef="position">
            <mat-header-cell *cdkHeaderCellDef>Position</mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.position}}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container cdkColumnDef="office">
            <mat-header-cell *cdkHeaderCellDef>Office</mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.office}}</mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container cdkColumnDef="salary">
            <mat-header-cell *cdkHeaderCellDef>Salary</mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.salary | currency:'USD':true}}</mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</div>
