<div id="splash-screen" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Services</span>
            </div>
            <div class="h2 mt-16">Splash Screen</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <p>
            <code>Splash screen</code> is a custom built Fuse service allows to have a fully controllable splash
            screen. It also has built state for application loading so it will always be available while the app
            loads.
        </p>

        <div class="my-48">
            <h2>Usage</h2>
            <p class="mat-grey-200-bg py-8">
                <fuse-hljs lang="ts" class="source-code">
                    <textarea #source hidden="hidden">
                        export class SomeComponent
                        {
                            constructor(private fuseSplashScreen: FuseSplashScreenService) {}

                            onInit(){
                                this.fuseSplashScreen.show();
                                this.fuseSplashScreen.hide();
                            }
                        }
                    </textarea>
                </fuse-hljs>
            </p>
        </div>

    </div>

</div>

