@import "src/app/core/scss/fuse";

:host {

    #coming-soon {
        width: 100%;
        overflow: auto;
        background: url('/assets/images/backgrounds/march.jpg') no-repeat;
        background-size: cover;

        #coming-soon-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;

            @include media-breakpoint('xs') {
                padding: 16px;
            }

            #coming-soon-form {
                width: 384px;
                max-width: 384px;
                background: #FFFFFF;
                text-align: center;
                @include mat-elevation(7);

                @include media-breakpoint('xs') {
                    width: 100%;
                }

                .top {
                    width: 100%;
                    padding: 32px;

                    @include media-breakpoint('xs') {
                        padding: 24px;
                    }

                    .logo {
                        width: 128px;
                        margin: 32px auto;
                    }

                    .title {
                        font-size: 17px;
                        margin-top: 16px;
                    }

                    .subtitle {
                        margin: 16px auto 0 auto;
                        text-align: center;
                        max-width: 300px;
                        color: rgba(0, 0, 0, 0.54);
                        font-size: 15px;
                    }

                    fuse-countdown {
                        margin: 48px auto 16px auto;
                    }
                }

                form {
                    width: 100%;
                    padding: 32px;
                    text-align: center;
                    background: mat-color($mat-grey, 100);

                    .message {
                        font-weight: 500;
                        margin: 8px auto 32px auto;
                    }

                    mat-form-field {
                        width: 320px;
                        margin: 8px auto 16px auto;
                    }

                    .subscribe-button {
                        width: 220px;
                        margin: 16px auto;

                        @include media-breakpoint('xs') {
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
}