<div id="file-manager" class="page-layout simple right-sidenav" fusePerfectScrollbar>

    <md-sidenav-container>

        <!-- SIDENAV -->
        <md-sidenav class="sidenav left-sidenav" align="start" opened="false" mode="over"
                    fuseMdSidenavHelper="file-manager-left-sidenav">
            <fuse-file-manager-main-sidenav></fuse-file-manager-main-sidenav>
        </md-sidenav>
        <!-- / SIDENAV -->

        <!-- CENTER -->
        <div class="center" fxFlex>

            <!-- HEADER -->
            <div class="header md-accent-bg p-24" fxLayout="column" fxLayoutAlign="space-between start">

                <!-- TOOLBAR -->
                <div class="toolbar w-100-p" fxFlex fxLayout="row" fxLayoutAlign="space-between start">

                    <div class="left-side" fxLayout="row">
                        <button md-icon-button class="sidenav-toggle"
                                fuseMdSidenavToggler="file-manager-left-sidenav">
                            <md-icon>menu</md-icon>
                        </button>
                    </div>

                    <div class="right-side" fxLayout="row">
                        <button md-button class="mat-icon-button" aria-label="Search" md-tooltip="Search">
                            <md-icon>search</md-icon>
                        </button>
                    </div>
                </div>
                <!-- / TOOLBAR -->

                <!-- BREADCRUMB -->
                <div class="breadcrumb text-truncate h1 pl-72" fxLayout="row" fxLayoutAlign="start center"
                     *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}">
                    <div *ngFor="let path of pathArr; last  as isLast" fxLayout="row" fxLayoutAlign="start center">
                        <span>{{path}}</span>
                        <md-icon *ngIf="!isLast" class="separator">chevron_right</md-icon>
                    </div>
                </div>
                <!-- / BREADCRUMB -->

                <!-- ADD FILE BUTTON -->
                <div class="file-uploader">
                    <input hidden type="file" #fileInput/>
                    <button md-fab
                            class="add-file-button mat-warn"
                            (click)="fileInput.click()"
                            aria-label="Add file"
                            *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                        <md-icon>add</md-icon>
                    </button>
                </div>
                <!-- / ADD FILE BUTTON -->

            </div>
            <!-- / HEADER -->

            <!-- CONTENT -->
            <div class="content md-white-bg" fusePerfectScrollbar>
                <fuse-file-list></fuse-file-list>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

        <!-- SIDENAV -->
        <md-sidenav class="sidenav right-sidenav mat-sidenav-opened" align="end" opened="true" mode="side"
                    fuseMdSidenavHelper="file-manager-right-sidenav" md-is-locked-open="gt-md">
            <fuse-file-manager-details-sidenav></fuse-file-manager-details-sidenav>
        </md-sidenav>
        <!-- / SIDENAV -->

    </md-sidenav-container>
</div>
