<!-- SIDENAV HEADER -->
<div fxLayout="column" fxLayoutAlign="space-between start"
     class="header p-24 pb-4 mat-accent-bg" class.gt-md="header p-24 pb-4 white-fg">
    <div class="logo" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">check_box</mat-icon>
        <span class="logo-text" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Manage Job applications</span>
    </div>

    <div class="account" fxLayout="column" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'300ms'}}">
        <div class="title">{{currentUser.name}} {{currentUser.surname}}</div>
        <mat-form-field floatPlaceholder="never">
            <mat-select class="account-selection" placeholder="Job Selection"
                        [ngModel]="selectedAccount">
                <mat-option *ngFor="let account of (accounts | keys)" [value]="account.key">
                    {{account.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<div class="content" fusePerfectScrollbar *fuseIfOnDom [@animate]="{value:'*',params:{y:'50px'}}">

    <div class="p-24">
        <button mat-raised-button fxFlex
                class="mat-accent add-job-button"
                (click)="newJob()"
                aria-label="ADD TASK">
            ADD JOB POSITION
        </button>
    </div>

    <div class="nav">

        <div class="nav-item">
            <a class="nav-link" matRipple [routerLink]="'/apps/job/all'" routerLinkActive="active">
                <mat-icon class="nav-link-icon">view_headline</mat-icon>
                <span>All</span>
            </a>
        </div>

        <div class="nav-subheader">FILTERS</div>

        <div class="nav-item" *ngFor="let filter of filters">
            <a class="nav-link" matRipple [routerLink]="'/apps/job/filter/' + filter.handle" routerLinkActive="active">
                <mat-icon class="nav-link-icon" *ngIf="filter.icon">{{filter.icon}}</mat-icon>
                <span>{{filter.title}}</span>
            </a>
        </div>

        <div class="nav-subheader">TAGS</div>

        <div class="nav-item" *ngFor="let tag of tags">
            <a class="nav-link" matRipple [routerLink]="'/apps/job/tag/' + tag.handle" routerLinkActive="active">
                <mat-icon class="nav-link-icon" [ngStyle]="{'color':tag.color}">label</mat-icon>
                <span>{{tag.title}}</span>
            </a>
        </div>

    </div>

</div>
<!-- / SIDENAV CONTENT -->
