<div class="fuse-search-bar" [ngClass]="{'expanded':!collapsed}" fxFlex="0 1 auto">
    <div [ngClass]="toolbarColor" fxLayout="row" fxLayoutAlign="start center" fxFlex>
        <label for="fuse-search-bar-input">
            <button md-icon-button class="fuse-search-bar-expander" aria-label="Expand Search Bar" (click)="expand()"
                    *ngIf="collapsed">
                <md-icon class="s-24">search</md-icon>
            </button>
            <!--<span class="fuse-search-bar-loader" fxLayout="row" fxLayoutAlign="center center" *ngIf="!collapsed">
                <md-progress-spinner color="md-accent" mode="indeterminate"></md-progress-spinner>
            </span>-->
        </label>

        <input id="fuse-search-bar-input" class="ml-24" type="text" placeholder="Search" (input)="search($event)" fxFlex>

        <button md-icon-button class="fuse-search-bar-collapser md-icon-button" (click)="collapse()"
                aria-label="Collapse Search Bar">
            <md-icon class="s-24">close</md-icon>
        </button>

    </div>
</div>