<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header md-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <md-icon class="secondary-text s-16">home</md-icon>
                <md-icon class="secondary-text s-16">chevron_right</md-icon>
                <span class="secondary-text">Info</span>
            </div>
            <div class="h1 mt-16">My Profile</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->

<!-- begin ML -->

    <div class="content p-24">

        <p class="mb-32">
        Here you can enter your personal data, current and aspirational skills.
        </p>

        <div fxLayout="column" fxLayoutAlign="start start"> <!-- fxLayout.gt-md="row"> -->
            <form class="md-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="form" [formGroup]="form">


                <div class="h2 mb-24">Personal Info</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <md-input-container fxFlex="100">
                        <input mdInput placeholder="Company" value="Credit Suisse">
                    </md-input-container>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <md-input-container fxFlex="50">
                        <input mdInput placeholder="First name" value="Marco">
                        <md-error *ngIf="formErrors.firstName.required">
                            Required
                        </md-error>
                    </md-input-container>

                    <md-input-container fxFlex="50">
                        <input mdInput placeholder="Last name" value="Lembo">
                        <md-error *ngIf="formErrors.lastName.required">
                            Required
                        </md-error>
                    </md-input-container>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutWrap>

                    <md-input-container fxFlex="100">
                        <textarea mdInput placeholder="Office Address">Uetlibergstrasse 233</textarea>
                        <md-error *ngIf="formErrors.address.required">
                            Required
                        </md-error>
                    </md-input-container>


                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <md-input-container fxFlex="33">
                        <input mdInput placeholder="City" value="Zürich">
                        <md-error *ngIf="formErrors.city.required">
                            Required
                        </md-error>
                    </md-input-container>

                    <md-input-container fxFlex="34">
                        <input mdInput placeholder="State" value="Switzerland">
                        <md-error *ngIf="formErrors.state.required">
                            Required
                        </md-error>
                    </md-input-container>

                    <md-input-container fxFlex="33">
                        <input mdInput #postalCode placeholder="Postal Code" value="8070">
                        <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
                        <md-error *ngIf="formErrors.postalCode.maxlength">
                            Postal Code needs to be max. {{formErrors.postalCode.maxlength.requiredLength}} characters
                        </md-error>
                    </md-input-container>

                </div>
            </form>
<!-- CURRENT SKILLS -->
            <form class="md-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="form" [formGroup]="form">

            
                <!-- ADD Skill BUTTON -->
                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20px">
                <div class="h2 mb-24">Current Skills</div>
                        <button md-mini-fab color="green"
                                class="add-skill-button"
                                (click)="addCurrentSkill()"

                                aria-label="Add Skill">
                            <md-icon>add</md-icon>
                        </button>
                </div>
                <!-- / ADD Skill BUTTON -->


                <div fxLayout="row" fxLayoutWrap fxLayoutGap="8px" fxLayout.ls-sm="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <md-card *ngFor="let skill of currentSkills"  class="skillCard">

                        <md-card-content>
                            <!-- SKILL -->
                            <md-form-field>
                                <input type="text" placeholder="Skill" mdInput empty [mdAutocomplete]="auto" [formControl]="myCurrentSkillsControl" value="" >
                            </md-form-field>

                            <md-autocomplete #auto="mdAutocomplete">
                               <md-option>None</md-option>
                               <md-option *ngFor="let option of currentSkillsFilteredOptions | async" [value]="option" empty>
                                  {{ option }}
                               </md-option>
                            </md-autocomplete>

                            <!-- Proficiency -->
                            <div fxLayout="column">
                                <span class="mat-caption md-primary-100-fg hint-text">Proficiency</span>
                                <md-slider placeholder="Proficiency" min="1" max="5" tick-interval="5" value="1" thumb-label="true">
                                </md-slider>
                            </div>
                        </md-card-content>
                        <md-card-actions fxLayoutAlign="end">
                            <button md-mini-fab color="warn"
                            class="add-skill-button" (click)="removeCurrentSkill(skill)"><md-icon>remove</md-icon></button>
                        </md-card-actions>

                    </md-card>

                </div>


            </form>


<!-- ASPIRATIONAL SKILLS -->
            <form class="md-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="form" [formGroup]="form">

                <!-- ADD Skill BUTTON -->
                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20px">
                <div class="h2 mb-24">Aspirational Skills</div>
                        <button md-mini-fab color="green"
                                class="add-skill-button"
                                (click)="addAspirationalSkill()"

                                aria-label="Add Skill">
                            <md-icon>add</md-icon>
                        </button>
                </div>
                <!-- / ADD Skill BUTTON -->


                <div class="p-10" fxLayout="row" fxLayoutWrap fxLayoutGap="8px" fxLayout.ls-sm="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <md-card *ngFor="let skill of aspirationalSkills" class="skillCard">

                        <md-card-content>
                            <!-- SKILL -->
                            <md-form-field>
                                <input type="text" placeholder="Skill" mdInput [mdAutocomplete]="auto" [formControl]="myAspirationalSkillsControl">
                            </md-form-field>

                            <md-autocomplete #auto="mdAutocomplete">
                               <md-option *ngFor="let option of aspirationalSkillsFilteredOptions | async" [value]="option">
                                  {{ option }}
                               </md-option>
                            </md-autocomplete>

                            <!-- Proficiency -->
                            <div fxLayout="column">
                                <span class="mat-caption md-primary-100-fg hint-text">Proficiency</span>
                                <md-slider placeholder="Proficiency" min="1" max="5" tick-interval="5" value="1" thumb-label="true">
                                </md-slider>
                            </div>
                        </md-card-content>
                        <md-card-actions fxLayoutAlign="end">
                            <button md-mini-fab color="warn"
                            class="add-skill-button" (click)="removeAspirationalSkill(skill)"><md-icon>remove</md-icon></button>
                        </md-card-actions>

                    </md-card>

                </div>


                <md-divider></md-divider>

                <!-- available capacity -->                           
                <span class="mat-caption md-primary-100-fg hint-text">Available capacity</span>
                 <div fxLayout="row" fxLayoutGap="10px" fxFlex="1 0 auto">
                    <md-slider placeholder="Proficiency" min="1" max="100" tick-interval="10" value="1" thumb-label="true" #capacity fxFlex="1 0 auto">
                    </md-slider>
                    <label class="text-boxed percentage"><b>{{ capacity.value }} %</b></label>
                </div>


            </form>




          
        </div>
<!--

            <div class="form-errors-model md-white-bg p-24 mat-elevation-z4">

                <div class="h2 mb-24">Reactive Form Errors Model</div>

                <pre><code>{{formErrors | json}}</code></pre>
            </div>
-->

    </div>
    <!-- / CONTENT -->

</div>


