:host {

    .content {

        form {
            width: 100%;
//            max-width: 800px !important;
            max-width: auto !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

    }
}


.skillCard {
    
    margin-bottom: 8px;
}

.add-skill-button {
    z-index: 999;
}

rating{
    font-size: xx-small;
    width: 100%;
}

.percentage {
    border-radius: 10px;
    margin-bottom: 20px;   
    max-width: 4em;
}


agm-map {
    width: 100%;
    height: 300px;
}

.nowrap{
    white-space: nowrap;
}

.rating-title{
    margin-bottom: 15px;    
}