@import "../../../../core/scss/fuse";


#faq{
    display: grid;        
}

:host {
    
    .header {
        height: 360px;
        background: #1A237E;
        background: linear-gradient(to right, #0E2A3B 0%, #34306B 100%);

        @include media-breakpoint('xs') {
            height: 240px;
            padding: 16px;
        }

        .hero-text {
            margin-bottom: 32px;

            @include media-breakpoint-down('xs') {
            }

            h1 {
                color: white;
                font-size: 48px;
                font-weight: 300;
                letter-spacing: 0.01em;
                text-align: center;
                margin-top: 0;
                margin-bottom: 16px;

                @include media-breakpoint-down('xs') {
                    font-size: 24px;
                }
            }

            h3 {
                color: rgba(255, 255, 255, 0.75);
                max-width: 480px;
                text-align: center;
                font-weight: 300;
                letter-spacing: 0.03em;
                margin: 0;

                @include media-breakpoint-down('xs') {
                    font-size: 14px;
                }
            }
        }

        .search {
            width: 100%;
            max-width: 640px;
            height: 56px;
            line-height: 56px;
            padding: 18px;

            input {
                height: 56px;
                padding-left: 16px;
                color: rgba(0, 0, 0, 0.54);
                border: none;
                outline: none;
            }
        }
    }

    .content {
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
    }


}
