<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">User Interface</span>
            </div>
            <div class="h1 mt-16">Forms</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <p class="mb-32">
            Angular reactive forms facilitate a reactive style of programming that favors explicit management of the
            data flowing between a non-UI data model (typically retrieved from a server) and a UI-oriented form model
            that retains the states and values of the HTML controls on screen. Reactive forms offer the ease of using
            reactive patterns, testing, and validation.
        </p>

        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="form" [formGroup]="form">

                <div class="h2 mb-24">Reactive Form Example</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="Company (disabled)" formControlName="company">
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="First name" formControlName="firstName">
                        <mat-error *ngIf="formErrors.firstName.required">
                            Required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Last name" formControlName="lastName">
                        <mat-error *ngIf="formErrors.lastName.required">
                            Required
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutWrap>

                    <mat-form-field fxFlex="100">
                        <textarea matInput placeholder="Address" formControlName="address">
                            1600 Amphitheatre Pkwy
                        </textarea>
                        <mat-error *ngIf="formErrors.address.required">
                            Required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="100">
                        <textarea matInput placeholder="Address 2" formControlName="address2"></textarea>
                        <mat-error *ngIf="formErrors.address2.required">
                            Required
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="33">
                        <input matInput placeholder="City" formControlName="city">
                        <mat-error *ngIf="formErrors.city.required">
                            Required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="34">
                        <input matInput placeholder="State" formControlName="state">
                        <mat-error *ngIf="formErrors.state.required">
                            Required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="33">
                        <input matInput #postalCode placeholder="Postal Code" value="94043"
                               formControlName="postalCode">
                        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                        <mat-error *ngIf="formErrors.postalCode.maxlength">
                            Postal Code needs to be max. {{formErrors.postalCode.maxlength.requiredLength}} characters
                        </mat-error>
                    </mat-form-field>

                </div>

            </form>

            <div class="form-errors-model mat-white-bg p-24 mat-elevation-z4">

                <div class="h2 mb-24">Reactive Form Errors Model</div>

                <pre><code>{{formErrors | json}}</code></pre>
            </div>

        </div>


    </div>
    <!-- / CONTENT -->

</div>


