:host {

    .content {

        form {
            width: 100%;
            max-width: 800px !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }
    }
}