<div class="job-table style-1 mat-elevation-z8" fxLayout="column" >
  <div class="package-type mat-primary-bg" fxLayout="row">
      <span>{{job.title}}</span>
      
      <div *ngIf="job.isNew" class="badge">NEW</div>
      <label fxLayoutAlign="end end" fxFlexAlign="end" class="sale text-boxed-light percentage mat-green-bg mat-hue-1">
          <span matTooltip="How much this position match to your job profile!" matTooltipPosition="below">{{job.matching}}</span>
      </label>
      <!--                                    <span class="sale md-accent-color md-hue-1">15%</span> -->
  </div>

  <div class="job" fxLayout="row" fxLayoutAlign="center start">
      <div class="area">{{job.area | uppercase}}</div>
      <div fxLayout="row" fxLayoutAlign="center end">
          <div class="value">{{job.location}}</div>
          <div class="period">{{job.contracttype}}</div>
      </div>
  </div>

  <md-divider></md-divider>

  <div class="terms" fxLayout="column" fusePerfectScrollbar>
    <div class="term">
        <span class="text-bold">{{job.description | firstword}}</span> <span> {{job.description | exceptfirstword}}</span>
    </div>
<!--
     <div class="term">
          <span class="text-bold">Provide</span>
          technical guidance on proper and efficient application setup on a Hadoop platform
      </div>
      <div class="term">
          <span class="text-bold">Maintain</span>
          environments in UNIX/Linux Operating System to provide optimum performance and system availability.
      </div>
      <div class="term">
          <span class="text-bold">Support</span>
          software vendor to ensure application software is installed correctly and all current maintenance levels have been applied.
      </div>
    -->

  </div>

  <button mat-raised-button class="cta-button" color="accent" (click)="applyForThisPosition(job)" >APPLY NOW</button>
</div>
