.recommend-employee-form-dialog {
    .mat-dialog-container {
        padding: 0;
        width: 100%;

        .contacts-form {
            min-width: 150px;
            max-width: 500px;
            width: 100%;

            .mat-form-field {
                width: 100%;
            }


        }

        rating{
            font-size: x-small;
            width: 100%;
        }
        
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
}


.nowrap {
    white-space: nowrap;
    width: 35vh;
}