<div class="dialog-content-wrapper">
    
        <mat-toolbar matDialogTitle class="mat-accent m-0">
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title dialog-title">Recommend Stefan!</span>
                <button mat-button class="mat-icon-button"
                        (click)="dialogRef.close()"
                        aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </mat-toolbar>
    
    
        <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
            
            <form class="contacts-form">
                <mat-form-field class="example-full-width" >
                    <input matInput placeholder="Employee to recommend" aria-label="Contact" [matAutocomplete]="auto" [formControl]="contactsCtrl">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="fillMessage($event)" >
                        <mat-option *ngFor="let c of filteredContacts | async" [value]="c.name + ' ' + c.lastName">
                        <img style="vertical-align:middle;" class="avatar" aria-hidden src="{{c.avatar}}" height="25" />
                        <span>{{ c.name }} {{ c.lastName }}</span> |
                        <small>Role: {{c.jobTitle}}</small>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            
                <br />
            
                <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                    <mat-icon class="mr-12 mt-12">email</mat-icon>
                    <mat-form-field fxFlex>
                        <textarea name="message" placeholder="Write here your recommendation..." matInput type="text" rows="4" max-rows="8" [formControl]="messageCtrl">
                        </textarea>
                    </mat-form-field>
                </div>
                <br />
            </form>

            <div fxLayout="column" fxLayoutAlign="center start">    
                <u><span class="text-bold pr-8 pb-8 secondary-text">Rating:   </span></u>                    
                <div fxLayout="row" fxLayoutAlign="center center">
                    <span class="text-italic pr-8 secondary-text nowrap">Professional skills:</span>
                    <rating [(ngModel)]="starsCountProfessionalSkills" [float]="true" (click)="rated()" >
                    </rating>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <span class="text-italic pr-8 secondary-text nowrap">Soft skills:</span>
                    <rating [(ngModel)]="starsCountSoftSkills" [float]="true" (click)="rated()" >
                    </rating>                    
                </div>
            </div>

            <br />
            <br />
            
            <button 
                mat-raised-button
                (click)="dialogRef.close()"
                class="save-button mat-accent"
                aria-label="SEND">
                SEND
            </button>
        </div>
    
    
    
    
    </div>
    
    
    