<div fxLayout="row" fxLayoutAlign="start center">

    <md-icon class="handle mr-16" ngxDragHandle fxFlex="0 1 auto" fxHide.xs>
        drag_handle
    </md-icon>

    <md-checkbox [(ngModel)]="selected" (ngModelChange)="onSelectedChange()"
                 class="mr-16" fxFlex="0 1 auto">
    </md-checkbox>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex>

        <div class="info" fxFlex fxFlexLayout="column">

            <div class="title">
                {{todo.title}}
            </div>

            <div class="notes">
                {{todo.notes}}
            </div>

            <div class="tags" fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>

                <div class="tag" fxLayout="row" fxLayoutAlign="start center" *ngFor="let tagId of todo.tags">
                    <div class="tag-color" [ngStyle]="{'background-color': tags | getById:tagId:'color'}"></div>
                    <div class="tag-label">{{tags | getById:tagId:'title'}}</div>
                </div>

            </div>

        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="start center">

            <button md-button class="mat-icon-button" (click)="toggleImportant($event)"
                    aria-label="Toggle important" fxHide.xs>
                <md-icon *ngIf="todo.important">error</md-icon>
                <md-icon *ngIf="!todo.important">error_outline</md-icon>
            </button>

            <button md-button class="mat-icon-button" (click)="toggleStar($event)"
                    aria-label="Toggle star" fxHide.xs>
                <md-icon *ngIf="todo.starred">star</md-icon>
                <md-icon *ngIf="!todo.starred">star_outline</md-icon>
            </button>

            <button md-button [mdMenuTriggerFor]="moreMenu" aria-label="More" class="mat-icon-button"
                    (click)="$event.stopPropagation();" fxHide.xs>
                <md-icon>more_vert</md-icon>
            </button>

            <md-menu #moreMenu="mdMenu">
                <button md-menu-item aria-label="toggle done" (click)="toggleCompleted($event)">
                    <ng-container *ngIf="todo.completed">
                        <md-icon>check_box</md-icon>
                        <span>Mark as undone</span>
                    </ng-container>
                    <ng-container *ngIf="!todo.completed">
                        <md-icon>check_box_outline_blank</md-icon>
                        <span>Mark as done</span>
                    </ng-container>
                </button>

                <button md-menu-item aria-label="toggle important" (click)="toggleImportant($event)">
                    <ng-container *ngIf="todo.important">
                        <md-icon>error</md-icon>
                        <span>Remove important</span>
                    </ng-container>
                    <ng-container *ngIf="!todo.important">
                        <md-icon>error_outline</md-icon>
                        <span>Mark as important</span>
                    </ng-container>
                </button>

                <button md-menu-item aria-label="toggle star" (click)="toggleStar($event)">
                    <ng-container *ngIf="todo.starred">
                        <md-icon>star</md-icon>
                        <span>Remove star</span>
                    </ng-container>
                    <ng-container *ngIf="!todo.starred">
                        <md-icon>star_outline</md-icon>
                        <span>Add star</span>
                    </ng-container>
                </button>
            </md-menu>

        </div>

    </div>

</div>
