<div id="job" class="page-layout carded left-sidenav" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <mat-sidenav-container>

        <!-- SIDENAV -->
        <mat-sidenav class="sidenav mat-sidenav-opened" align="start" opened="true" mode="side"
                     fuseMatSidenavHelper="carded-left-sidenav" mat-is-locked-open="gt-md">
            <fuse-job-main-sidenav></fuse-job-main-sidenav>
        </mat-sidenav>
        <!-- / SIDENAV -->

        <!-- CENTER -->
        <div class="center">

<!-- TO REMOVE -->
<div class="p-24">
        <button mat-raised-button fxFlex
                class="mat-accent add-job-button"
                (click)="recommendEmployee()"
                aria-label="RECOMMEND">
            RECOMMEND
        </button>
    </div>
<!-- TO REMOVE -->



            <!-- CONTENT HEADER -->
            <div class="header" fxLayout="row" fxLayoutAlign="start center">

                <div class="search-wrapper mat-white-bg" fxFlex fxLayout="row" fxLayoutAlign="start center">

                    <button mat-button class="mat-icon-button sidenav-toggle"
                            fuseMatSidenavToggler="carded-left-sidenav"
                            fxHide.gt-md aria-label="Toggle Sidenav">
                        <mat-icon>menu</mat-icon>
                    </button>

                    <div class="search" flex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input [formControl]="searchInput" placeholder="Search for a job position" fxFlex>
                    </div>
                </div>

            </div>
            <!-- / CONTENT HEADER -->

            <!-- CONTENT CARD -->
            <div class="content-card mat-white-bg" [ngClass]="{'current-job-selected':currentJob}">

                <!-- CONTENT TOOLBAR -->
                <div class="toolbar px-24 py-8">

                    <div class="job-selection" fxFlex="row" fxLayoutAlign="start center">
                        <mat-checkbox (click)="toggleSelectAll()" [checked]="hasSelectedJobs"
                                      [indeterminate]="isIndeterminate"></mat-checkbox>

                        <button mat-icon-button [matMenuTriggerFor]="selectMenu">
                            <mat-icon>arrow_drop_down</mat-icon>
                        </button>
                        <mat-menu #selectMenu="matMenu">
                            <button mat-menu-item (click)="selectJobs()">All</button>
                            <button mat-menu-item (click)="deselectJobs()">None</button>
                            <button mat-menu-item (click)="selectJobs('read', true)">Read</button>
                            <button mat-menu-item (click)="selectJobs('read', false)">Unread</button>
                            <button mat-menu-item (click)="selectJobs('starred', true)">Starred</button>
                            <button mat-menu-item (click)="selectJobs('starred', false)">Unstarred</button>
                            <button mat-menu-item (click)="selectJobs('important', true)">Important</button>
                            <button mat-menu-item (click)="selectJobs('important', false)">Unimportant</button>
                        </mat-menu>

                        <div class="toolbar-separator" *ngIf="hasSelectedJobs"></div>

                        <button mat-icon-button [matMenuTriggerFor]="labelMenu" *ngIf="hasSelectedJobs">
                            <mat-icon>label</mat-icon>
                        </button>
                        <mat-menu #labelMenu="matMenu">
                            <button mat-menu-item *ngFor="let tag of tags" (click)="toggleTagOnSelectedJobs(tag.id)">
                                {{tag.title}}
                            </button>
                        </mat-menu>
                    </div>

                    <div *ngIf="currentJob" fxHide.gt-lg>
                        <button mat-icon-button (click)="deSelectCurrentJob()">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                    </div>

                </div>
                <!-- / CONTENT TOOLBAR -->

                <!-- CONTENT -->
                <div class="content" fxFlexAlign="row">

                    <fuse-job-list fusePerfectScrollbar fxFlex></fuse-job-list>

                    <fuse-job-details fusePerfectScrollbar fxFlex></fuse-job-details>

                </div>
                <!-- / CONTENT -->

            </div>
            <!-- / CONTENT CARD -->

        </div>
        <!-- / CENTER -->

    </mat-sidenav-container>

</div>
