@import "src/app/core/scss/fuse";


#dashboard-project {

    md-sidenav-container {

        .center {

            > .header {
                height: 160px;
                min-height: 160px;
                max-height: 160px;

                .selected-project {
                    background: rgba(0, 0, 0, 0.12);
                    color: #FFFFFF;
                    padding: 8px 16px;
                    height: 40px;
                    line-height: 24px;
                    font-size: 16px;
                }

                .project-selector {
                    margin-left: 1px;
                    border-radius: 0;
                    background: rgba(0, 0, 0, 0.12);

                    md-icon {
                        color: #FFFFFF;
                    }
                }
            }

            > .content {
                flex: 1;

                md-tab-group {
                    height: 100%;

                    .mat-tab-body-wrapper {
                        flex-grow: 1;
                    }
                }

                .mat-tab-label-container {
                    padding: 0 24px;
                }
            }
        }

        .sidenav {
            width: 250px !important;
            min-width: 250px !important;
            max-width: 250px !important;
        }
    }
}


//MLMLMLML
$linkcolour: #ffffff;



/*
a {
  color: $linkcolour;
}

a.lighter {
  color: lighten($linkcolour, 50%);
}

*/

.todo-list-item {
    display: block;
    position: relative;
    padding: 16px 16px 16px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    text-transform: none;
    cursor: pointer;
    flex-shrink: 0;
    background: $linkcolour;

    &.todo-item-placeholder {
        background: rgba(0, 0, 0, 0.12);
        * {
            opacity: 0;
        }
    }

    .handle {
        height: 48px;
        line-height: 48px;
        cursor: move;
        user-select: none;
    }

    &.move-disabled {
        .handle {
            display: none;
        }
    }

    .tags {

        .tag {
            font-size: 11px;
            border-radius: 2px;
            margin: 8px 4px 0 0;
            padding: 3px 8px;
            background-color: rgba(0, 0, 0, 0.08);

            .tag-color {
                width: 8px;
                height: 8px;
                margin-right: 8px;
                border-radius: 50%;
            }
        }
    }

    &.completed {
        background: #EEEEEE;

        .title,
        .notes {
            color: rgba(0, 0, 0, 0.54);
            text-decoration: line-through;
        }
    }

    &.selected {
        background: #FFF8E1;
    }

    .info {
        margin: 0 16px 0 8px;

        .title {
            font-size: 15px;
            font-weight: 500;
        }

        .notes {
            margin-top: 4px;
        }
    }

    .buttons {

        .is-starred {
            margin: 0 0 0 16px;
        }

        .is-important {
            margin: 0;
        }
    }

    &:not(.has-handle):not(.move-disabled),
    &.has-handle [ngxdraghandle],
    &.has-handle [ngxDragHandle] {
        cursor: move;
    }

    .ngx-dnd-content {
        user-select: none;
    }

    &.gu-mirror {
        position: fixed !important;
        margin: 0 !important;
        z-index: 9999 !important;
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
        @include mat-elevation(7);
    }

    &.gu-hide {
        display: none !important;
    }

    &.gu-unselectable {
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
    }

    &.gu-transit {
        opacity: 0.2;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        filter: alpha(opacity=20);
    }
}


.percentage {
    border-radius: 10px;
    margin-bottom: 20px;   
    max-width: 4em;
}


/*----------------------------------------------------------------*/
.price-tables {
    
        .price-table {
            position: relative;
            background-color: #FFFFFF;
            //width: 280px;
            width: 320px;
            border-radius: 2px;
            margin: 24px 24px 0 0;
            overflow: hidden;
    
            &.style-1 {
    
                .package-type {
                    font-size: 17px;
                    padding: 16px 24px;
    
                    .sale {
                        font-size: 13px;
                        font-weight: 600;
                    }
                }
                .badge {
                    position: absolute;
                    top: 0;
                    left: 91%;
                    transform: translateX(-50%);
                    font-size: 11px;
                    font-weight: 500;
                    padding: 18px 8px;
                    background-image: url('../../../../../../assets/images/backgrounds/sticker-new.png');
                    background-position: 104% 20%;
                    background-size: 254%;
                    background-color: none;
                }    
                .price {
                    padding: 32px 32px 16px 32px;
    
                    .currency {
                        padding-right: 4px;
                        font-size: 16px;
                        font-weight: 500;
                        color: rgba(0, 0, 0, 0.54);
                    }
    
                    .value {
                        font-size: 30px;
                        font-weight: 300;
                        line-height: 1;
                    }
    
                    .period {
                        padding: 0 0 5px 4px;
                        font-size: 17px;
                        color: rgba(0, 0, 0, 0.54);
                    }
                }
    
                md-divider {
                    margin: 16px 32px;
                }
    
                .terms {
                    padding: 16px 32px;
                    font-size: 15px;
    
                    .term {
    
                    }
                }
    
                .cta-button {
                    margin: 16px auto 32px auto;
                    width: 128px;
                }
            }
    
            &.style-2 {
    
                .badge {
                    position: absolute;
                    top: 0;
                    left: 91%;
                    transform: translateX(-50%);
                    font-size: 11px;
                    font-weight: 500;
                    padding: 6px 8px;
                }
    
                .package-type {
                    padding: 48px 32px 24px 32px;
                    font-size: 20px;
                    font-weight: 500;
                    text-align: center;
                }
    
                .price {
                    padding: 0 32px 8px 32px;
    
                    .currency {
                        padding-right: 4px;
                        font-size: 24px;
                        font-weight: 500;
                        color: rgba(0, 0, 0, 0.54);
                    }
    
                    .value {
                        font-size: 56px;
                        font-weight: 300;
                        line-height: 1;
                    }
                }
    
                .period {
                    padding: 0 32px;
                    font-size: 15px;
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.54);
                    text-align: center;
                }
    
                .terms {
                    padding: 32px;
                    font-size: 15px;
    
                    .term {
                        padding-bottom: 8px;
    
                        &:last-child {
                            padding-bottom: 0;
                        }
                    }
                }
    
                .cta-button {
                    margin: 8px auto 32px auto;
                    width: 128px;
                }
            }
    
            &.style-3 {
    
                .package-type {
                    padding: 32px;
                    text-align: center;
    
                    .title {
                        font-size: 34px;
                    }
    
                    .subtitle {
                        font-size: 17px;
                        color: rgba(0, 0, 0, 0.54);
                        font-weight: 500;
                    }
                }
    
                .price {
                    padding: 16px 32px;
    
                    .currency {
                        padding-right: 4px;
                        font-size: 15px;
                        font-weight: 500;
                    }
    
                    .value {
                        font-size: 34px;
                        font-weight: 300;
                        line-height: 1;
                    }
    
                    .period {
                        padding-left: 4px;
                        text-align: center;
                    }
                }
    
                .terms {
                    margin: 32px;
                    font-size: 15px;
                    color: rgba(0, 0, 0, 0.54);
    
                    .term {
                        padding-bottom: 16px;
    
                        &:last-child {
                            padding-bottom: 0;
                        }
                    }
                }
    
                .cta-button {
                    margin: 8px 32px;
                }
    
                .note {
                    padding: 8px 32px 16px 32px;
                    text-align: center;
                    color: rgba(0, 0, 0, 0.54);
                }
            }
        }
    }

