<div id="product" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/apps/e-commerce/products'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="product-image mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="product.images[0]" [src]="product.images[0].url">
                    <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                     *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{product.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Product
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Product Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button mat-white-bg mt-16 mt-sm-0"
                    [disabled]="productForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addProduct()">
                <span>ADD</span>
            </button>

            <button mat-raised-button
                    class="save-product-button mat-white-bg mt-16 mt-sm-0"
                    [disabled]="productForm.invalid || productForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveProduct()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Basic Info">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="name"
                                           formControlName="name"
                                           placeholder="Product Name"
                                           required>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <textarea matInput
                                              name="description"
                                              formControlName="description"
                                              placeholder="Product Description"
                                              rows="5">
                                    </textarea>
                                </mat-form-field>

                                <h3 class="mb-0">Categories</h3>
                                <mat-form-field class="w-100-p" floatPlaceholder="never">
                                    <mat-chip-list matPrefix #categoryList
                                                   name="categories"
                                                   formControlName="categories">

                                        <mat-chip *ngFor="let category of product.categories"
                                                  removable="true" (remove)="product.removeCategory(category)">
                                            {{category}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>
                                    </mat-chip-list>
                                    <input matInput
                                           matChipInputAddOnBlur="true"
                                           (matChipInputTokenEnd)="product.addCategory($event)"
                                           placeholder="Add category..."
                                           [matChipInputFor]="categoryList"/>
                                </mat-form-field>

                                <h3 class="mb-0">Tags</h3>
                                <mat-form-field class="w-100-p" floatPlaceholder="never">
                                    <mat-chip-list matPrefix #tagList
                                                   name="tags"
                                                   formControlName="tags">

                                        <mat-chip *ngFor="let tag of product.tags"
                                                  removable="true" (remove)="product.removeTag(tag)">
                                            {{tag}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>
                                    </mat-chip-list>
                                    <input matInput
                                           matChipInputAddOnBlur="true"
                                           (matChipInputTokenEnd)="product.addTag($event)"
                                           placeholder="Add tag..."
                                           [matChipInputFor]="tagList"/>
                                </mat-form-field>
                            </div>
                        </mat-tab>

                        <mat-tab label="Product Images">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutWrap>

                                    <div *ngIf="product.images.length === 0"
                                         class="product-image" fxlayout="row" fxLayoutAlign="center center">
                                        <img class="media" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                                    </div>

                                    <div *ngFor="let image of product.images">
                                        <div *ngIf="product.images.length > 0"
                                             class="product-image" fxlayout="row" fxLayoutAlign="center center">
                                            <img class="media" [src]="image.url">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="Pricing">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="priceTaxExcl"
                                           formControlName="priceTaxExcl"
                                           placeholder="Tax Excluded Price" type="number">
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="priceTaxIncl"
                                           formControlName="priceTaxIncl"
                                           placeholder="Tax Included Price" type="number">
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="taxRate"
                                           formControlName="taxRate"
                                           placeholder="Tax Rate" type="number">
                                    <span matPrefix>&#37;</span>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="comparedPrice"
                                           formControlName="comparedPrice"
                                           placeholder="Compared Price" type="number">
                                    <span matPrefix>$&nbsp;</span>
                                    <mat-hint align="start">Add a compare price to show next to the real price</mat-hint>
                                </mat-form-field>

                            </div>
                        </mat-tab>

                        <mat-tab label="Inventory">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="sku"
                                           formControlName="sku"
                                           placeholder="SKU">
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="quantity"
                                           formControlName="quantity"
                                           placeholder="Quantity" type="number">
                                </mat-form-field>
                            </div>
                        </mat-tab>

                        <mat-tab label="Shipping">
                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                                <div class="py-16" fxLayout="row">
                                    <mat-form-field fxFlex>
                                        <input matInput
                                               name="Width"
                                               formControlName="width"
                                               placeholder="Width">
                                    </mat-form-field>
                                    <mat-form-field fxFlex>
                                        <input matInput
                                               name="Height"
                                               formControlName="height"
                                               placeholder="Height">
                                    </mat-form-field>
                                    <mat-form-field fxFlex>
                                        <input matInput
                                               name="Depth"
                                               formControlName="depth"
                                               placeholder="Depth">
                                    </mat-form-field>
                                </div>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="Weight"
                                           formControlName="weight"
                                           placeholder="Weight">
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="extraShippingFee"
                                           formControlName="extraShippingFee"
                                           placeholder="Extra Shipping Fee" type="number">
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field>
                            </div>
                        </mat-tab>

                    </mat-tab-group>
                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
