
<mat-toolbar fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.lt-sm="center center">                
            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.lt-sm="center center" fxHide fxShow.gt-xs>
                    
                    <button mat-button class="mat-icon-button" (click)="goToFaq()">
                        <mat-icon>help</mat-icon>
                    </button>
                    <a mat-button href="www.credit-suisse.com" target="_blank">
                        <img src="assets/images/logos/cs-footer.png" width="200"/>
                    </a>        
            </div>
</mat-toolbar>






<!--

<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <a href="http://themeforest.net/item/fuse-angularjs-material-design-admin-template/12931855?ref=srcn"
           target="_blank" mat-button class="mat-pink-bg" fxFlex="0 0 auto" fxLayout="row"
           fxLayoutAlign="start center">
            <mat-icon class="s-16 mr-sm-4">shopping_cart</mat-icon>
            <span>Purchase FUSE (Angular4+)</span>
        </a>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a mat-button href="http://fusetheme.com/angular/docs" target="_blank">Documentation</a>
            <span>&bull;</span>
            <a mat-button href="http://fusetheme.com/angular/changelog" target="_blank">Changelog</a>
        </div>

    </div>

</mat-toolbar>


-->
