<md-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <a href="http://themeforest.net/item/fuse-angularjs-material-design-admin-template/12931855?ref=srcn"
           target="_blank" md-button class="md-pink-bg" fxFlex="0 0 auto" fxLayout="row"
           fxLayoutAlign="start center">
            <md-icon class="s-16 mr-sm-4">shopping_cart</md-icon>
            <span>Purchase FUSE (Angular4+)</span>
        </a>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a md-button href="http://fusetheme.com/angular/docs" target="_blank">Documentation</a>
            <span>&bull;</span>
            <a md-button href="http://fusetheme.com/angular/changelog" target="_blank">Changelog</a>
        </div>

    </div>

</md-toolbar>
