<!-- SIDENAV HEADER -->
<div fxLayout="column" fxLayoutAlign="space-between start"
     class="header p-24 md-accent-bg" class.gt-md="header p-24 white-fg">
    <div class="logo" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <md-icon class="logo-icon s-32" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">check_box</md-icon>
        <span class="logo-text" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Manage Job Positions</span>
    </div>

    <div class="account" fxLayout="column" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'300ms'}}">
        <div class="title">Marco Lembo</div>
        <md-select class="account-selection" placeholder="Todo Selection"
                   floatPlaceholder="never"
                   [ngModel]="selectedAccount">
            <md-option *ngFor="let account of (accounts | keys)" [value]="account.key">
                {{account.value}}
            </md-option>
        </md-select>
    </div>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<div class="content" fusePerfectScrollbar *fuseIfOnDom [@animate]="{value:'*',params:{y:'50px'}}">

    <div class="p-24">
        <button md-raised-button fxFlex
                class="mat-accent add-todo-button"
                (click)="newTodo()"
                aria-label="ADD TASK">
            ADD JOB POSITION
        </button>
    </div>

    <div class="nav">

        <div class="nav-item">
            <a class="nav-link" md-ripple [routerLink]="'/apps/todo/all'" routerLinkActive="active">
                <md-icon class="nav-link-icon">view_headline</md-icon>
                <span>All</span>
            </a>
        </div>

        <div class="nav-subheader">FILTERS</div>

        <div class="nav-item" *ngFor="let filter of filters">
            <a class="nav-link" md-ripple [routerLink]="'/apps/todo/filter/' + filter.handle" routerLinkActive="active">
                <md-icon class="nav-link-icon" *ngIf="filter.icon">{{filter.icon}}</md-icon>
                <span>{{filter.title}}</span>
            </a>
        </div>

        <div class="nav-subheader">TAGS</div>

        <div class="nav-item" *ngFor="let tag of tags">
            <a class="nav-link" md-ripple [routerLink]="'/apps/todo/tag/' + tag.handle" routerLinkActive="active">
                <md-icon class="nav-link-icon" [ngStyle]="{'color':tag.color}">label</md-icon>
                <span>{{tag.title}}</span>
            </a>
        </div>

    </div>

</div>
<!-- / SIDENAV CONTENT -->
