<div class="page-layout simple left-sidenav single-scroll" fusePerfectScrollbar>

    <md-sidenav-container>

        <!-- SIDENAV -->
        <md-sidenav class="sidenav mat-sidenav-opened p-24" align="start" opened="true" mode="side"
                    fuseMdSidenavHelper="simple-left-sidenav-2" md-is-locked-open="gt-md">

            <fuse-demo-sidenav></fuse-demo-sidenav>

        </md-sidenav>
        <!-- / SIDENAV -->

        <!-- CENTER -->
        <div class="center" fusePerfectScrollbar>

            <!-- HEADER -->
            <div class="header md-accent-bg p-24" fxLayout="row" fxLayoutAlign="start center">

                <button md-button class="mat-icon-button sidenav-toggle"
                        fuseMdSidenavToggler="simple-left-sidenav-2"
                        fxHide.gt-md>
                    <md-icon>menu</md-icon>
                </button>

                <div>
                    <h2>Left sidenav with page scroll</h2>
                </div>

            </div>
            <!-- / HEADER -->

            <!-- CONTENT -->
            <div class="content p-24 md-white-bg">

                <fuse-demo-content></fuse-demo-content>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

    </md-sidenav-container>

</div>
