<button #openButton md-icon-button class="open-button md-primary-bg mat-elevation-z2" (click)="openBar()">
    <md-icon>settings</md-icon>
</button>

<div class="theme-options-panel-overlay" #overlay [fxHide]="barClosed" [@fadeInOut]="!barClosed"></div>

<div #panel class="theme-options-panel md-white-bg mat-elevation-z8">

    <button md-icon-button class="close-button" (click)="closeBar()">
        <md-icon>close</md-icon>
    </button>

    <div class="theme-options-panel-inner" fxLayout="column" fxLayoutAlign="start start">

        <h3>Navigation:</h3>
        <md-radio-group [(ngModel)]="fuseSettings.layout.navigation" (ngModelChange)="onSettingsChange()"
                        fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start start" fxLayoutWrap>
            <md-radio-button class="mr-8 mb-8" value="top">Top</md-radio-button>
            <md-radio-button class="mr-8 mb-8" value="left">Left</md-radio-button>
            <md-radio-button class="mr-8 mb-8" value="right">Right</md-radio-button>
            <md-radio-button class="mr-8 mb-8" value="none">None</md-radio-button>
        </md-radio-group>

        <h3 class="mt-24">Toolbar:</h3>
        <md-radio-group [(ngModel)]="fuseSettings.layout.toolbar" (ngModelChange)="onSettingsChange()"
                        fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start start" fxLayoutWrap>
            <md-radio-button class="mr-8 mb-8" value="below">Below</md-radio-button>
            <md-radio-button class="mr-8 mb-8" value="above">Above</md-radio-button>
            <md-radio-button class="mr-8 mb-8" value="none">None</md-radio-button>
        </md-radio-group>

        <h3 class="mt-24">Footer:</h3>
        <md-radio-group [(ngModel)]="fuseSettings.layout.footer" (ngModelChange)="onSettingsChange()"
                        fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start start" fxLayoutWrap>
            <md-radio-button class="mr-8 mb-8" value="below">Below</md-radio-button>
            <md-radio-button class="mr-8 mb-8" value="above">Above</md-radio-button>
            <md-radio-button class="mr-8 mb-8" value="none">None</md-radio-button>
        </md-radio-group>

        <h3 class="mt-24">Layout Mode:</h3>
        <md-radio-group [(ngModel)]="fuseSettings.layout.mode" (ngModelChange)="onSettingsChange()"
                        fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start start" fxLayoutWrap>
            <md-radio-button class="mr-8 mb-8" value="boxed">Boxed</md-radio-button>
            <md-radio-button class="mr-8 mb-8" value="fullwidth">Fullwidth</md-radio-button>
        </md-radio-group>

        <md-divider></md-divider>

        <h3>Colors:</h3>
        <div class="colors">

            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                <h4 class="mr-8">Toolbar Color</h4>
                <fuse-material-color-picker [(selectedClass)]="fuseSettings.colorClasses.toolbar"
                                            (onValueChange)="onSettingsChange()"></fuse-material-color-picker>
            </div>

            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                <h4 class="mr-8">Navigation Bar Color</h4>
                <fuse-material-color-picker [(selectedClass)]="fuseSettings.colorClasses.navbar"
                                            (onValueChange)="onSettingsChange()"></fuse-material-color-picker>
            </div>

            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                <h4 class="mr-8">Footer Color</h4>
                <fuse-material-color-picker [(selectedClass)]="fuseSettings.colorClasses.footer"
                                            (onValueChange)="onSettingsChange()"></fuse-material-color-picker>
            </div>

        </div>

        <md-divider></md-divider>

        <h3>Router Animation:</h3>
        <md-select class="p-0" [(ngModel)]="fuseSettings.routerAnimation">
            <md-option value="none">
                None
            </md-option>
            <md-option value="slideUp">
                Slide up
            </md-option>
            <md-option value="slideDown">
                Slide down
            </md-option>
            <md-option value="slideRight">
                Slide right
            </md-option>
            <md-option value="slideLeft">
                Slide left
            </md-option>
            <md-option value="fadeIn">
                Fade in
            </md-option>
        </md-select>

    </div>

</div>
