<div class="page-layout simple right-sidenav" fusePerfectScrollbar>

    <md-sidenav-container>

        <!-- CENTER -->
        <div class="center" fusePerfectScrollbar>

            <!-- HEADER -->
            <div class="header md-accent-bg p-24" fxLayout="row" fxLayoutAlign="start center">

                <button md-button class="mat-icon-button sidenav-toggle"
                        fuseMdSidenavToggler="simple-right-sidenav"
                        fxHide.gt-md>
                    <md-icon>menu</md-icon>
                </button>

                <div>
                    <h2>Right sidenav with content scroll</h2>
                </div>

            </div>
            <!-- / HEADER -->

            <!-- CONTENT -->
            <div class="content p-24 md-white-bg">

                <fuse-demo-content></fuse-demo-content>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

        <!-- SIDENAV -->
        <md-sidenav class="sidenav mat-sidenav-opened" align="end" opened="true" mode="side"
                    fuseMdSidenavHelper="simple-right-sidenav" md-is-locked-open="gt-md">

            <div class="sidenav-content p-24" fusePerfectScrollbar>

                <fuse-demo-sidenav></fuse-demo-sidenav>

            </div>

        </md-sidenav>
        <!-- / SIDENAV -->

    </md-sidenav-container>

</div>
