<div id="helper-classes" class="page-layout simple tabbed" fxLayout="column" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header md-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <md-icon class="secondary-text s-16">home</md-icon>
                <md-icon class="secondary-text s-16">chevron_right</md-icon>
                <span class="secondary-text">User Interface</span>
            </div>
            <div class="h1 mt-16">Helper Classes</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tab-group md-dynamic-height="true">

            <md-tab label="Padding & Margin Helpers">

                <fuse-helper-classes-padding-margin></fuse-helper-classes-padding-margin>

            </md-tab>

            <md-tab label="Width & Height Helpers">

                <fuse-helper-classes-width-height></fuse-helper-classes-width-height>

            </md-tab>

        </md-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
