<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-button class="mat-icon-button"
                    (click)="dialogRef.close()"
                    aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <mat-toolbar-row class="toolbar-bottom py-8 py-sm-16" fxLayout="column" fxLayoutAlign="center center">
            <img [src]="contact.avatar" class=" avatar contact-avatar huge"
                 [alt]="contact.name"/>
            <div class="contact-name">{{contact.name}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form [formGroup]="contactForm">

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12">account_circle</mat-icon>
                <mat-form-field fxFlex>
                    <input name="name" formControlName="name" placeholder="Name" matInput required>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12"></mat-icon>
                <mat-form-field fxFlex>
                    <input name="lastName" formControlName="lastName" placeholder="Lastname" matInput>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12">star</mat-icon>
                <mat-form-field fxFlex>
                    <input name="nickname" formControlName="nickname" matInput placeholder="Nickname">
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12">phone</mat-icon>
                <mat-form-field fxFlex>
                    <input formControlName="phone" matInput placeholder="Phone number">
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12">email</mat-icon>
                <mat-form-field fxFlex>
                    <input name="email" formControlName="email" matInput type="email" placeholder="Email">
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12">domain</mat-icon>
                <mat-form-field fxFlex>
                    <input name="company" formControlName="company" matInput placeholder="Company">
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12">work</mat-icon>
                <mat-form-field fxFlex>
                    <input name="jobTitle" formControlName="jobTitle" matInput placeholder="Job title">
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field class="mr-24" fxFlex>
                    <input matInput [matDatepicker]="birthdayDatePicker" placeholder="Birthday">
                    <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #birthdayDatePicker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12">home</mat-icon>
                <mat-form-field fxFlex>
                    <input name="address" formControlName="address" matInput placeholder="Address">
                </mat-form-field>
            </div>

            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12">note</mat-icon>
                <mat-form-field fxFlex>
                    <textarea name="notes" formControlName="notes" placeholder="Notes" matInput type="text" max-rows="4"></textarea>
                </mat-form-field>
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

        <button *ngIf="action !=='edit'"
                mat-raised-button
                (click)="dialogRef.close(contactForm)"
                class="save-button mat-accent"
                [disabled]="contactForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

        <button *ngIf="action ==='edit'"
                mat-raised-button
                (click)="dialogRef.close(['save',contactForm])"
                class="save-button mat-accent"
                [disabled]="contactForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

        <button *ngIf="action ==='edit'"
                mat-button
                class="mat-icon-button"
                (click)="dialogRef.close(['delete',contactForm])"
                aria-label="Delete"
                matTooltip="Delete">
            <mat-icon>delete</mat-icon>
        </button>

    </div>
</div>
