<div id="typography-blockquotes-lists" class="p-24">

    <div class="mat-title">Blockquotes</div>

    <div class="mat-white-bg mat-elevation-z4 p-24" fxLayout="column">

        <div fxLayout="column" fxLayout.gt-md="row">

            <div class="preview" fxLayout="column" fxLayoutAlign="center" fxFlex="50">
                <blockquote>
                    <p>
                        You can do anything, but not everything.
                    </p>
                </blockquote>
            </div>

            <fuse-hljs lang="html" class="source-code" fxLayout="column" fxLayoutAlign="center"
                       fxFlex="50">
                <textarea #source hidden="hidden">
                    <blockquote>
                        <p>
                            You can do anything, but not everything.
                        </p>
                    </blockquote>
                </textarea>
            </fuse-hljs>

        </div>

        <div fxLayout="column" fxLayout.gt-md="row">

            <div class="preview" fxLayout="column" fxLayoutAlign="center" fxFlex="50">
                <blockquote>
                    <p>
                        You can do anything, but not everything.
                    </p>
                    <footer>
                        David Allen
                    </footer>
                </blockquote>
            </div>

            <fuse-hljs lang="html" class="source-code" fxLayout="column" fxLayoutAlign="center"
                       fxFlex="50">
                <textarea #source hidden="hidden">
                    <blockquote>
                        <p>
                            You can do anything, but not everything.
                        </p>
                        <footer>
                            David Allen
                        </footer>
                    </blockquote>
                </textarea>
            </fuse-hljs>

        </div>

        <div fxLayout="column" fxLayout.gt-md="row">

            <div class="preview" fxLayout="column" fxLayoutAlign="center" fxFlex="50">
                <blockquote class="reverse">
                    <p>
                        You can do anything, but not everything.
                    </p>
                    <footer>
                        David Allen
                    </footer>
                </blockquote>
            </div>

            <fuse-hljs lang="html" class="source-code" fxLayout="column" fxLayoutAlign="center"
                       fxFlex="50">
                <textarea #source hidden="hidden">
                    <blockquote class="reverse">
                        <p>
                            You can do anything, but not everything.
                        </p>
                        <footer>
                            David Allen
                        </footer>
                    </blockquote>
                </textarea>
            </fuse-hljs>

        </div>

    </div>

    <div class="mat-title mt-20">Lists</div>

    <div class="mat-white-bg mat-elevation-z4 p-24" fxLayout="column">

        <div fxLayout="column" fxLayout.gt-md="row">

            <div class="preview" fxLayout="column" fxLayoutAlign="center" fxFlex="50">
                <ol>
                    <li>Ordered list item</li>
                    <li>
                        Ordered list item
                        <ol>
                            <li>Ordered list item</li>
                            <li>Ordered list item</li>
                        </ol>
                    </li>
                    <li>Ordered list item</li>
                    <li>Ordered list item</li>
                </ol>
            </div>

            <fuse-hljs lang="html" class="source-code" fxLayout="column" fxLayoutAlign="center"
                       fxFlex="50">
                <textarea #source hidden="hidden">
                    <ol>
                        <li>Ordered list item</li>
                        <li>
                            Ordered list item
                            <ol>
                                <li>Ordered list item</li>
                                <li>Ordered list item</li>
                            </ol>
                        </li>
                        <li>Ordered list item</li>
                        <li>Ordered list item</li>
                    </ol>
                </textarea>
            </fuse-hljs>

        </div>

        <div fxLayout="column" fxLayout.gt-md="row">

            <div class="preview" fxLayout="column" fxLayoutAlign="center" fxFlex="50">
                <ul>
                    <li>Unordered list item</li>
                    <li>
                        Unordered list item
                        <ul>
                            <li>Unordered list item</li>
                            <li>Unordered list item</li>
                        </ul>
                    </li>
                    <li>Unordered list item</li>
                    <li>Unordered list item</li>
                </ul>
            </div>

            <fuse-hljs lang="html" class="source-code" fxLayout="column" fxLayoutAlign="center"
                       fxFlex="50">
                <textarea #source hidden="hidden">
                    <ul>
                        <li>Unordered list item</li>
                        <li>
                            Unordered list item
                            <ul>
                                <li>Unordered list item</li>
                                <li>Unordered list item</li>
                            </ul>
                        </li>
                        <li>Unordered list item</li>
                        <li>Unordered list item</li>
                    </ul>
                </textarea>
            </fuse-hljs>

        </div>

    </div>

    <div class="mat-title mt-20">Definition Lists</div>

    <div class="mat-white-bg mat-elevation-z4 p-24" fxLayout="column">

        <div fxLayout="column" fxLayout.gt-md="row">

            <div class="preview" fxLayout="column" fxLayoutAlign="center" fxFlex="50">
                <dl>
                    <dt>Definition term</dt>
                    <dd>This is the definition description</dd>

                    <dt>Another definition term</dt>
                    <dd>This is also another definition description</dd>
                </dl>
            </div>

            <fuse-hljs lang="html" class="source-code" fxLayout="column" fxLayoutAlign="center"
                       fxFlex="50">
                <textarea #source hidden="hidden">
                    <dl>
                        <dt>Definition term</dt>
                        <dd>This is the definition description</dd>

                        <dt>Another definition term</dt>
                        <dd>This is also another definition description</dd>
                    </dl>
                </textarea>
            </fuse-hljs>

        </div>

    </div>

</div>