@import "../../../../core/scss/fuse";

:host {

    #search {

        .header {

            @include media-breakpoint('xs') {
                padding: 16px;
            }

            .search {
                position: relative;
                max-width: 780px;

                .search-icon {
                    margin: 0 -24px 0 0;
                }

                .search-input {
                    padding: 0 0 0 48px;
                    background: none;
                    font-size: 24px;
                    line-height: 48px;
                    height: 48px;
                    color: #FFFFFF;
                    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
                    transition: border-color 300ms ease;

                    &:focus {
                        border-color: rgba(255, 255, 255, 1);
                    }

                    &::-webkit-input-placeholder {
                        color: #FFFFFF;
                    }
                }
            }
        }

        .content {

            .result-info {
                padding-bottom: 16px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);

                .mat-title {
                    padding-right: 8px;
                }

                .pager {

                    @include media-breakpoint('xs') {
                        margin-top: 16px;
                    }

                    .page-info {
                        font-weight: 500;
                        margin: 0 8px 0 0;
                    }
                }
            }

            .simple-pagination {
                margin: 32px 0;
            }
        }
    }
}
