<div id="search" class="page-layout simple tabbed" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header md-accent-bg p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">

        <md-input-container class="w-100-p">
            <input mdInput name="search" placeholder="Search...">
        </md-input-container>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tab-group md-dynamic-height="true">

            <md-tab label="Classic">
                <fuse-search-classic></fuse-search-classic>
            </md-tab>

            <md-tab label="Table">
                <fuse-search-table></fuse-search-table>
            </md-tab>

        </md-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
