<div class="page-layout simple tabbed" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header md-accent-bg p-24">
        <h2>Tabbed</h2>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content md-white-bg">

        <md-tab-group md-dynamic-height="true">

            <md-tab label="Tab 1">
                <div class="p-24">
                    <fuse-demo-content></fuse-demo-content>
                </div>
            </md-tab>

            <md-tab label="Tab 2">
                <div class="p-24">
                    <fuse-demo-content></fuse-demo-content>
                </div>
            </md-tab>

            <md-tab label="Tab 3">
                <div class="p-24">
                    <fuse-demo-content></fuse-demo-content>
                </div>
            </md-tab>

        </md-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
