<!--
<button mat-raised-button (click)="isLinear = true" id="toggle-linear">Enable linear mode</button>

-->
<div class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxFill >
  <mat-vertical-stepper [linear]="isLinear"  
    
  >
  <!== Role ==>        
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Your ROLE</ng-template>
        <mat-form-field>
<!--          <input matInput placeholder="Current Role" formControlName="roleCtrl" required> -->

          <input matInput placeholder="Role" aria-label="Role" [matAutocomplete]="auto" [formControl]="roleCtrl" required>
          <mat-autocomplete #auto="matAutocomplete" >
            <mat-option *ngFor="let role of filteredRoles | async" [value]="role.name">
              <span>{{ role.name }}</span> 
            </mat-option>
          </mat-autocomplete>



        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

<!== Business Area ==>        
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Business AREA</ng-template>
        <mat-form-field>
<!--          <input matInput placeholder="Address" formControlName="secondCtrl" required> -->

        <input matInput placeholder="Business Area" aria-label="Business Area" [matAutocomplete]="autoArea" [formControl]="areaCtrl" required>
        <mat-autocomplete #autoArea="matAutocomplete">
          <mat-option *ngFor="let area of filteredAreas | async" [value]="area.name">
            <span>{{area.name}}</span>  
          </mat-option>  
        </mat-autocomplete> 


        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

<!== CURRENT SKILLS ==>    
    <mat-step>
      <ng-template matStepLabel>Technical Skills</ng-template>

      <div class="skillCard"  fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center" >
          <current-skills-item *ngFor="let s of currentSkills" [skillModel]="s"
            (elementRemoved)="onSkillRemoved($event)"
          ></current-skills-item>          
      </div>
          
      <!-- ADD Skill BUTTON -->
      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
          <div class="h2 mb-24 secondary-text">Add new skill...</div>
          <button mat-mini-fab color="green"
                  class="add-skill-button"
                  (click)="addCurrentSkill()"

                  aria-label="Add Skill">
              <mat-icon>add</mat-icon>
          </button>
      </div>



      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
<!== ASPIRATIONAL SKILLS ==>
    <mat-step>
      <ng-template matStepLabel>Aspirational Skills</ng-template>

      <div class="skillCard"  fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center" >
          <current-skills-item *ngFor="let s of currentSkills" [skillModel]="s"
            (elementRemoved)="onSkillRemoved($event)"
          ></current-skills-item>          
      </div>
          
      <!-- ADD Skill BUTTON -->
      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
          <div class="h2 mb-24 secondary-text">Add new skill...</div>
          <button mat-mini-fab color="green"
                  class="add-skill-button"
                  (click)="addCurrentSkill()"

                  aria-label="Add Skill">
              <mat-icon>add</mat-icon>
          </button>
      </div>



      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>

  </mat-vertical-stepper>

</div>